* {
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  padding: 2rem;
  height: auto;
  background-color: white;
  position: relative;
}


.border{
  border: solid black 2px

}

.bold{
  font-weight: bold;
  font-size: large;
}

.light{
  font-weight: lighter;
  
}

.noStyle{
  list-style: none;
  padding: 0;
  margin: 0;
}

#root{
  width: 100%;
  height: 100vh;
  background-color: rgb(23, 20, 21);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.mainContainer{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20 auto;
}

.container{
  width: 40%;
  height: 250px;
  background-color: rgb(110, 119, 127);
  margin: 10px;
  padding: 50px 50px;
  display: flex;
  justify-content:center;
  align-items: center;

}

.modalContainer{
  width: 100%;
  height: 100vh;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity by modifying the last value (0.5) */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  width:300px;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

h3{
  font-size: 30px;
}